@media screen and (max-width: 576px) {
  .nav {
    width: 100%;
  }
  .navMenu .navOption {
    display: none;
  }
  .navLogo > h2 {
    font-size: 2.6rem;
    padding-left: 1rem;
  }
  .mobileIcon i {
    color: #ffff;
    display: inline;
    padding-right: 1rem;
    cursor: pointer;
  }
  /* head menu added */
  .head{
    width: 100%;
    max-height: 70rem;
  }
  .headArticle{
    width: 100%;
    margin: 0;
  }
  .headArticle h3{
    margin-right: 0;
    width: 100%;
    font-size: 3.2rem;
    display: inline;
  }
  .headContaint {
    flex-direction: column;
    width: 95%;
    margin: 1rem;
    gap: 5rem;
  }
  .headBtn{
    margin-bottom: 0;
  }
  .headArticle p {
    margin-right: 2rem;
  }
  .headArticle {
    width: 100%;
  }
  .headBtn {
    width: 100%;
  }
  .articleImg {
    width: 100%;
    margin-bottom: 0;
  }
  .articleImg img {
    width: 100%;
    height: 100%;
  }
  .headImgBox11 {
    left: -1rem;
    top: 18rem;
    width: 190px;
    height: 96px;
  }
  .headImgBox12 {
    top: 4rem;
    left: 11rem;
    width: 190px;
    height: 96px;
  }
  /* main part strat */
  .mainPart{
    width: 100%;
    margin-top: -1.2rem;
  }
  /* habit part */
  .habitText h3{
    font-size: 1.8rem;
  }
  .habitText p{
    font-size: 1rem;
    text-align: center;
  }
  .habitImgContainer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}
